<a href="https://colab.research.google.com/github/sbborusu/530pm_Agentic_Ai_Batch_7thApril/blob/main/EDA_5Hours.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'/content/Churn_Modelling.csv')

In [3]:
df.info()
#print(type(df))
#print(type(df.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9963 non-null   object
 6   Age              9969 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [4]:
#print(df.isnull())
#print(type(df.isnull()))
print(df.isnull().sum())
#print(type(df.isnull().sum()))

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender             37
Age                31
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

# Handling missing values

1. Delete the columns with missing values

In [5]:
updated_df = df.dropna(axis=1)
print(updated_df.info())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9963 non-null   object
 6   Age              9969 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None

2. Delete the rows with missing values

In [6]:
updated_df = df.dropna(axis=0)
print(updated_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9936 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9936 non-null   int64
 1   CustomerId       9936 non-null   int64
 2   Surname          9936 non-null   object
 3   CreditScore      9936 non-null   int64
 4   Geography        9936 non-null   object
 5   Gender           9936 non-null   object
 6   Age              9936 non-null   float64
 7   Tenure           9936 non-null   int64
 8   Balance          9936 non-null   float64
 9   NumOfProducts    9936 non-null   int64
 10  HasCrCard        9936 non-null   int64
 11  IsActiveMember   9936 non-null   int64
 12  EstimatedSalary  9936 non-null   float64
 13  Exited           9936 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None

3. Filling the missing values - Imputation

In [7]:
df['Age'].mean()

np.float64(38.93239041027184)

In [8]:
df['Age'].median()

37.0

In [9]:
# updated_df = df.fillna(df['Age'].mean()) #This will replace all columns in df with mean value of 'Age' column and will impact all columns where data is null
updated_df = df.copy()
updated_df['Age'] = df['Age'].fillna(df['Age'].mean()) # This will replace only 'Age' column with mean of Age and other columns will be intact
print(updated_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9963 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None

4. Forward and Backward Filling - Imputation

In [10]:
df = pd.read_csv(r'/content/Churn_Modelling.csv')
df1 = df.copy()

In [11]:
df1['Age'] = df['Age'].bfill() # backward fill that fills null values from its next record value
df1['Gender'] = df['Gender'].ffill() # forward fill that fills null values from its previous record value
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None

In [12]:
df_notnull = df.isnull()
print(df_notnull.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  bool
 1   CustomerId       10000 non-null  bool
 2   Surname          10000 non-null  bool
 3   CreditScore      10000 non-null  bool
 4   Geography        10000 non-null  bool
 5   Gender           10000 non-null  bool
 6   Age              10000 non-null  bool
 7   Tenure           10000 non-null  bool
 8   Balance          10000 non-null  bool
 9   NumOfProducts    10000 non-null  bool
 10  HasCrCard        10000 non-null  bool
 11  IsActiveMember   10000 non-null  bool
 12  EstimatedSalary  10000 non-null  bool
 13  Exited           10000 non-null  bool
dtypes: bool(14)
memory usage: 136.8 KB
None

# Feature Scaling

In [13]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9963 non-null   object
 6   Age              9969 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [15]:
from sklearn.preprocessing import StandardScaler #To use standardization technique for feature scaling
from sklearn.preprocessing import MinMaxScaler #To use normalization technique for feature scaling

In [16]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [17]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,9969.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.932390,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.483804,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [18]:
new_df = pd.DataFrame(df, columns=['Age', 'Tenure'])
new_df.head(5)

    Age  Tenure
0  42.0       2
1  41.0       1
2  42.0       8
3  39.0       1
4  43.0       2

In [19]:
new_df['Age'] = new_df['Age'].fillna(new_df['Age'].mean())
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     10000 non-null  float64
 1   Tenure  10000 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 156.4 KB

In [21]:
scaler = MinMaxScaler() # Instantiating the MinMaxScaler class
normalized_df_2D = scaler.fit_transform(new_df) # Does the feature scaling using normalization technique that converts to a 2D matrix
normalized_df = pd.DataFrame(normalized_df_2D, columns= ['Age', 'Tenure'])

           Age  Tenure
0     0.324324     0.2
1     0.310811     0.1
2     0.324324     0.8
3     0.283784     0.1
4     0.337838     0.2
...        ...     ...
9995  0.283784     0.5
9996  0.229730     1.0
9997  0.243243     0.7
9998  0.324324     0.3
9999  0.135135     0.4

[10000 rows x 2 columns]

In [22]:
x_array = np.array([[2], [3], [4], [5], [6]])
scaler = MinMaxScaler()
normalized_array = scaler.fit_transform(x_array)
print(normalized_array)

[[0.  ]
 [0.25]
 [0.5 ]
 [0.75]
 [1.  ]]