<a href="https://colab.research.google.com/github/sbborusu/530pm_Agentic_Ai_Batch_7thApril/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
data = {'cars' : ['BMW', 'Ford', 'Volvo'],
        'models': ['X5', 'Mustang', 'XC90']}
df = pd.DataFrame(data)
print(df)
print(type(df))

    cars   models
0    BMW       X5
1   Ford  Mustang
2  Volvo     XC90
<class 'pandas.core.frame.DataFrame'>

In [29]:
print(df['cars']) # Gets the complete column based on column name
print(df.loc[1])  # Gets the complete row (s) based on row number
print(df.loc[0:2])
print(type(df.loc[0:2])) # Gets the range of rows
print(df.loc[[0,2]]) # Gets the specified rows, in this case row 0 and 2

0      BMW
1     Ford
2    Volvo
Name: cars, dtype: object
cars         Ford
models    Mustang
Name: 1, dtype: object
    cars   models
0    BMW       X5
1   Ford  Mustang
2  Volvo     XC90
<class 'pandas.core.frame.DataFrame'>
    cars models
0    BMW     X5
2  Volvo   XC90

In [13]:
import pandas as pd
# df = pd.read_csv('w3data.csv')
df = pd.read_csv(r'/content/w3data.csv')
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [8]:
print(type(df.to_string()))
#print(df.to_string())

<class 'str'>