<a href="https://colab.research.google.com/github/sbborusu/530pm_Agentic_Ai_Batch_7thApril/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(10)
print('10')
print(10,20)
print(1+2j)
print(1+2j,20,True)
print('Hello Dear',20)

10
10
10 20
(1+2j)
(1+2j) 20 True
Hello Dear 20

In [ ]:
a='20'
b='30'
print(a+b)

2030

# format function

In [ ]:
a=20
b=30
c=a+b
print('Sum of {} and {} is {}'.format(a,b,c))

Sum of 20 and 30 is 50

In [ ]:
a=20
b=30
c=a+b
print(f'Sum of {a} and {b} is {c}') #preferred over format method

Sum of 20 and 30 is 50

In [ ]:
num1=100
num2=25
num3=332
avg=(num1+num2+num3/3)
print(avg)
avg1=round(num1+num2+num3/3, 2)
print(avg1)

235.66666666666669
235.67

# end in print()

In [ ]:
print('Hello')
print('World!')
print('Hello', end=' @') #By default, print() adds a newline character (\n) at the end, causing subsequent output to appear on a new line. The end parameter allows you to change this behavior by he character or string added at the end of the output.
print('World!')

Hello
World!
Hello @World!

# Separator (sep in print())

In [ ]:
print('hello','hai','boss')
print('hello','hai','boss',sep='$') #The separator between the arguments to print() function in Python is space by default (softspace feature) , which can be modified and can be made to any character, integer or string as per our choice.

hello hai boss
hello$hai$boss

# Complex data types

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 + c2
print(c3)

(3+8j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 - c2
print(c3)

(-1+2j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 * c2
print(c3)

(-13+13j)

In [ ]:
c1 = (1 + 1j)
c2 = (1 - 1j)
c3 = c1 * c2
print(c3)

(2+0j)

In [ ]:
c1 = (2 + 2j)
c2 = (2 - 2j)
c3 = c1 * c2
print(c3)

(8+0j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 / c2
print(c3)

(1.307692307692308+0.5384615384615384j)

# List

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon", "Guava", "Grape"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'Guava', 'Grape', 'orange', 'kiwi', 'mango']

In [ ]:
thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist1[1:4] = ["blackcurrant"]
print(thislist1)

['apple', 'blackcurrant', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
c = 3 + 4j
print(abs(c))

5.0

In [21]:
lst = list([1,2,3]) # Use constructor to define list this way.
lst
lst1 = list(((1,2,3), (4,5,6)))
lst3 = list({1,2,3})
print(lst1)
print(len(lst1))
print(type(lst))
print(type(lst1))
print(type(lst1[0]))
print(type(lst3))

[(1, 2, 3), (4, 5, 6)]
2
<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'list'>

#Tuple

In [9]:
tup1 = (1,2,3)
print(len(tup1))
tup2 = tuple([1,2,3])
print(len(tup2))
print(tup2)
tup3 = tuple((1,2,3))
print(len(tup3))
print(tup3)
print(type(tup1))
print(type(tup2))
print(type(tup3))

3
3
(1, 2, 3)
3
(1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Set

In [4]:
st = {1,2,3}
print(st)
print(type(st))

{1, 2, 3}
<class 'set'>

In [7]:
st1 = set({1,2,3}) # Use constructor to define set this way.
st2 = set((1,2,3))
st3 = set([1,2,3])
print(type(st1))
print(len(st1))
print(type(st2))
print(st2)
print(len(st2))
print(type(st3))
print(st3)
print(len(st3))

<class 'set'>
3
<class 'set'>
{1, 2, 3}
3
<class 'set'>
{1, 2, 3}
3