<a href="https://colab.research.google.com/github/sbborusu/530pm_Agentic_Ai_Batch_7thApril/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(10)
print('10')
print(10,20)
print(1+2j)
print(1+2j,20,True)
print('Hello Dear',20)

10
10
10 20
(1+2j)
(1+2j) 20 True
Hello Dear 20

In [ ]:
a='20'
b='30'
print(a+b)

2030

# format function

In [ ]:
a=20
b=30
c=a+b
print('Sum of {} and {} is {}'.format(a,b,c))

Sum of 20 and 30 is 50

In [ ]:
a=20
b=30
c=a+b
print(f'Sum of {a} and {b} is {c}') #preferred over format method

Sum of 20 and 30 is 50

In [ ]:
num1=100
num2=25
num3=332
avg=(num1+num2+num3/3)
print(avg)
avg1=round(num1+num2+num3/3, 2)
print(avg1)

235.66666666666669
235.67

# end in print()

In [ ]:
print('Hello')
print('World!')
print('Hello', end=' @') #By default, print() adds a newline character (\n) at the end, causing subsequent output to appear on a new line. The end parameter allows you to change this behavior by he character or string added at the end of the output.
print('World!')

Hello
World!
Hello @World!

# Separator (sep in print())

In [ ]:
print('hello','hai','boss')
print('hello','hai','boss',sep='$') #The separator between the arguments to print() function in Python is space by default (softspace feature) , which can be modified and can be made to any character, integer or string as per our choice.

hello hai boss
hello$hai$boss

# Complex data types

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 + c2
print(c3)

(3+8j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 - c2
print(c3)

(-1+2j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 * c2
print(c3)

(-13+13j)

In [ ]:
c1 = (1 + 1j)
c2 = (1 - 1j)
c3 = c1 * c2
print(c3)

(2+0j)

In [ ]:
c1 = (2 + 2j)
c2 = (2 - 2j)
c3 = c1 * c2
print(c3)

(8+0j)

In [ ]:
c1 = (1 + 5j)
c2 = (2 + 3j)
c3 = c1 / c2
print(c3)

(1.307692307692308+0.5384615384615384j)

# List

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon", "Guava", "Grape"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'Guava', 'Grape', 'orange', 'kiwi', 'mango']

In [ ]:
thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist1[1:4] = ["blackcurrant"]
print(thislist1)

['apple', 'blackcurrant', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
c = 3 + 4j
print(abs(c))

5.0

In [ ]:
lst = list([1,2,3]) # Use constructor to define list this way.
lst
lst1 = list(((1,2,3), (4,5,6)))
lst3 = list({1,2,3})
print(lst1)
print(len(lst1))
print(type(lst))
print(type(lst1))
print(type(lst1[0]))
print(type(lst3))

[(1, 2, 3), (4, 5, 6)]
2
<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'list'>

In [ ]:
l1=[1,2,3,0]
print(any(l1))
print(all(l1))
l2=(True,True,False)
print(any(l2))
print(all(l2))
l3={'Sindhur', 'Borusu', ''}
print(any(l3))
print(all(l3))
l4={'Sindhur', 'Borusu', ' '}
print(any(l4))
print(all(l4))
l5={1:'nit', 0:'tech'}
print(l5)
print(any(l5)) # keys will be considered
print(all(l5))
l6={'1':'nit', '0':'tech'}
print(l6)
print(any(l6)) # keys will be considered
print(all(l6))

True
False
True
False
True
False
True
True
{1: 'nit', 0: 'tech'}
True
False
{'1': 'nit', '0': 'tech'}
True
True

#Tuple

In [ ]:
tup1 = (1,2,3)
print(len(tup1))
tup2 = tuple([1,2,3])
print(len(tup2))
print(tup2)
tup3 = tuple((1,2,3))
print(len(tup3))
print(tup3)
print(type(tup1))
print(type(tup2))
print(type(tup3))

3
3
(1, 2, 3)
3
(1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Set

In [ ]:
st = {1,2,3}
print(st)
print(type(st))

{1, 2, 3}
<class 'set'>

In [ ]:
st1 = set({1,2,3}) # Use constructor to define set this way.
st2 = set((1,2,3))
st3 = set([1,2,3])
print(type(st1))
print(len(st1))
print(type(st2))
print(st2)
print(len(st2))
print(type(st3))
print(st3)
print(len(st3))

<class 'set'>
3
<class 'set'>
{1, 2, 3}
3
<class 'set'>
{1, 2, 3}
3

In [ ]:
s3 = {2,3,1,4}
print(s3)
s4 = {'sindhur', (1+2j), 3, 4}
print(s4)

{1, 2, 3, 4}
{3, 'sindhur', 4, (1+2j)}

In [ ]:
s3.pop(3)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s3.pop() #removes the element randomly from the set as opposed to list.pop that removes the last element in the list.
s3

{2, 3, 4}

In [ ]:
for i in s3:
  print(i)

2
3
4

In [ ]:
for i in enumerate(s3):
  print(i)

(0, 2)
(1, 3)
(2, 4)

## Union

In [ ]:
u1 = {1,2,3,4}
u2 = {3,4,5,6}
u3 = u1 | u2
u4 = u1.union(u2)
print(u3)
print(u4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

## Intersection

In [ ]:
i1 = {1,2,3,4}
i2 = {3,4,5,6}
i0 = {3,1,6}
i3 = i1 & i2 & i0
i4 = i1.intersection(i2,i0) # original set i1 is not updated
print(i1)
print(i3)
print(i4)

{1, 2, 3, 4}
{3}
{3}

In [ ]:
i4 = {1,2,3,4}
i5 = {4,5,6,7}
i6 = {4,6,7,9}
i4.intersection_update(i5,i6) # original set i4 is updated
i4 &= i5 & i6
print(i4)
print(i4)

{4}
{4}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {6, 4, 8}
set1.update(set2,set3) # Merge multiple sets, lists, tuple, dict to a set
print(set1)

{1, 2, 3, 4, 5, 6, 8}

## difference

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6}
print(a - b)
print(a)
print(b)
print(a.difference(b))
# a.difference_update(b) # original set a is updated
a -= b
print(a)

{1, 2}
{1, 2, 3, 4, 5}
{3, 4, 5, 6}
{1, 2}
{1, 2}

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6}
print(a.symmetric_difference(b)) # Return a set that contains all items from both sets, except items that are present in both sets. This can be considered opposite to intersection.
print(a ^ b)
print(a)
print(b)
# a.symmetric_difference_update(b) # original set a is updated
a ^= b
print(a)

{1, 2, 6}
{1, 2, 6}
{1, 2, 3, 4, 5}
{3, 4, 5, 6}
{1, 2, 6}

# Misc

In [ ]:
x = 0
x

0

In [ ]:
_ + 1

1

In [ ]:
x = 10
y = 20
y

20

In [ ]:
x = x + y
x

30

In [ ]:
_ + x

60

In [ ]:
_ + x

90

In [ ]:
x = 10
_ + 10

100

In [ ]:
x = 10

In [ ]:
_ + 5

105

In [ ]:
print(x)

10

In [ ]:
_ + 10

115

In [ ]:
x = _ + x

In [ ]:
x

125

In [ ]:
_ + x

250

In [ ]:
x = _ + x
print(x)

1000

In [ ]:
_ + x

1625

In [ ]:
x = _ + 10
print(x)

1635

In [ ]:
_ + 10

1635

In [ ]:
name = 'Fine'
name = 'D' + name[1:4]
name

'Dine'

In [ ]:
x = 10
y = 20
x, y = y, x
print(x)
print(y)

20
10

In [ ]:
x = 10
isinstance(x,int)

True

In [ ]:
string_list = ["Hello", "World"]
result = " ".join(string_list)
print(result)  # Output: Hello World

Hello World

In [ ]:
import sys
sys.version

'3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]'

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
string = 'Sindhur'
char = 'Borusu'

In [ ]:
dic = {1: 'A', 2: 'B', 3: 'C'}
print(dic[1])
dic[1] = 'a'
print(dic)
dic[4] = 'D'
print(dic)

A
{1: 'a', 2: 'B', 3: 'C'}
{1: 'a', 2: 'B', 3: 'C', 4: 'D'}

In [2]:
var = 2
print(2 == 2.0)

True

In [3]:
a = 'Python' + ".py"
a

'Python.py'

In [8]:
print(str(True), end=" ")
int('4.5')

True

ValueError: invalid literal for int() with base 10: '4.5'

In [12]:
type(str(True))

str

In [19]:
str1 = 'Ault\'Kelly'
print(str1)
str2 = '''Ault'Kelly'''
print(str2)
str3 = """Ault'Kelly"""
print(str3)

Ault'Kelly
Ault'Kelly
Ault'Kelly

In [23]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3])) # Slicing always returns a tuple
print(type(aTuple[2]))

<class 'tuple'>
<class 'complex'>

In [24]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [26]:
def func1():
 x = 50
 return x
func1()
print(x)

NameError: name 'x' is not defined

In [30]:
str1 = '''str'''
print(str1)
str1 = 'str1'
print(str1)
str1 = "str1"
print(str1)

str
str1
str1

In [32]:
range(5)

range(0, 5)

In [33]:
print(type(10))

<class 'int'>

In [34]:
x = 3.14
print(type(x))

<class 'float'>

In [35]:
x = 10
y = "20"
print(x + int(y))

30

In [36]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [37]:
x = 10
y = "20"
print(str(x) + y)

1020

In [38]:
x = [1, 2, 3]
y = x.copy()
x.append(4)
print(y)

[1, 2, 3]

In [39]:
x = [1, 2, 3]
y = x
x.append(4)
print(y)

[1, 2, 3, 4]

In [40]:
x = {"a": 1, "b": 2}
y = {"b": 3, "c": 4}
z = {**x, **y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

In [41]:
x = {1, 2, 3}
x.clear()
print(x)

set()

In [46]:
x = "hello"
y = x.replace("l", "L",1)
print(y)

heLlo

In [50]:
x = (1, 2, [3, 4])
x[2][0] = 5
print(x)
print(type(x))

(1, 2, [5, 4])
<class 'tuple'>

In [54]:
x = {"name": "John", "age": 30}
print(x.get('address'))
print(x["address"])

None

KeyError: 'address'